.buttons {
    position: absolute;
    display: flex;
    gap: 10px;

    button {
        font-size: 18px;
        background-color: yellowgreen;
        font-weight: bold;
        padding: 3px 8px;
        border-radius: 6px;
    }
}