

<div class="imgicon"></div>

<h1>Currency Converter</h1>


<div class="convent">
    <div class="row first">
        <input  (keyup)="inputone($event)" value="{{inp1value}}" type="number">
        <select name="" id="" (change)="selectone($event)">
            <option *ngFor="let currencyname of currencynames" [selected] = "currencyname == 'EUR'" value="{{currencyname}}">{{currencyname}}</option>
        </select>
    </div>

    <h4>1 {{select1value}} = {{equivalent  | number : '.2-2'}} {{select2value}}</h4>

    <div class="row second">
        <input (keyup)="inputtwo($event)" value="{{inp2value}}" type="number">
        <select name="" id="" (change)="selecttwo($event)">
            <option *ngFor="let currencyname of currencynames" [selected] = "currencyname == 'EUR'" value="{{currencyname}}">{{currencyname}}</option>
        </select>
    </div>
</div>